/* tutorial_33 start here */

/* .para-style{
    color: red;
    background-color:black;
    font-style: italic;
} */
/* tutorial_33 ends here */


/* tutorial_34 start here */ 
 /* .para-style{
    color: red;
    background-color:black;
    font-style: italic;
}  */
/* tutorial_34 ends here */